/* .Scroll::-webkit-scrollbar {
  width: 5px !important;
}

.Scroll::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-primary-300 to-primary-500;
  border: none;
}

.dark .Scroll::-webkit-scrollbar {
  width: 5px !important;
}

.dark .Scroll::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-primary-300 to-primary-500;
  border: none;
} */
