.p-column-filter-overlay {
  @apply rounded-lg bg-primary_ p-4 text-gray shadow-lg shadow-shadow_color dark:bg-secondary_dark dark:shadow-sha_dark;
}

.p-dropdown {
  @apply mb-4 flex rounded border bg-primary_ px-2 py-1 text-gray  outline-none transition duration-300 hover:border-primary-300 dark:border-gray-300 dark:bg-secondary_dark dark:text-white dark:hover:border-primary-300;
}

.p-dropdown:is(.p-inputwrapper-focus, .p-focus) {
  @apply border border-primary-300 shadow-focus shadow-primary-100 dark:shadow-primary-800;
}

.p-dropdown-panel {
  @apply rounded bg-primary_ text-gray shadow-lg shadow-shadow_color dark:bg-secondary_dark dark:text-white dark:shadow-sha_dark;
}

.p-dropdown-panel .p-dropdown-items {
  @apply px-0 py-2;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  @apply m-0 border-none px-3 py-1;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  @apply bg-primary-100 text-secundary dark:bg-primary-400 dark:text-secundary;
}

.p-dropdown-items-wrapper::-webkit-scrollbar {
  width: 5px;
}
.p-dropdown-items-wrapper::-webkit-scrollbar-thumb {
  background: var(--Color-Primary-500);
  border-radius: 100px;
}

.p-column-filter-constraint {
  @apply py-3;
}

input.p-inputtext {
  @apply rounded border bg-primary_ px-2 py-1 transition duration-300 hover:border-primary-500 focus:border-primary-300 focus:shadow-focus focus:shadow-primary-100 dark:border-gray-300 dark:bg-secondary_dark dark:text-white dark:shadow-primary-800 dark:hover:border-primary-500 dark:focus:border-primary-300;
}

.p-column-filter-overlay-menu .p-column-filter-add-rule {
  @apply py-3;
}

button.p-button.p-button-outlined {
  @apply border border-primary-500 bg-primary_ text-primary dark:bg-secondary_dark dark:text-primary;
}

button.p-button.p-button-outlined:hover {
  background: color-mix(in srgb, var(--Color-Primary-500), transparent 95%);
}

button.p-button.p-button-outlined:active {
  background: color-mix(in srgb, var(--Color-Primary-500), transparent 85%);
}

button.p-button.p-button-outlined:not(:disabled):active {
  background: color-mix(
    in srgb,
    var(--Color-Primary-500),
    transparent 85%
  ) ;
}

button.p-button.p-button-sm {
  @apply px-4 py-1.5 text-sm font-semibold;
}

button:where(.p-fluid .p-button) {
  @apply w-full font-normal;
}

button.p-button-text {
  @apply relative m-0 flex cursor-pointer select-none items-center justify-center gap-1 overflow-hidden;
}

button.p-button.p-button-text {
  @apply bg-transparent text-primary dark:text-primary;
}

button.p-button.p-button-text:hover {
  background: color-mix(in srgb, var(--Color-Primary-500), transparent 95%);
}

button.p-button.p-button-text:not(:disabled):active {
  background: color-mix(in srgb, var(--Color-Primary-500), transparent 85%);
}

button.p-button {
  @apply rounded bg-primary-500 px-3 py-1 font-normal text-white transition duration-300 hover:bg-primary-700 focus:shadow-focus_offset dark:text-secundary focus:dark:shadow-focus_offset_dark;
}

button.p-button:not(:disabled):active {
  @apply bg-primary-700 dark:bg-primary-300;
}

button.p-button.p-button-text.p-button-danger {
  @apply text-danger;
}

button.p-button.p-button-text.p-button-danger:focus {
  @apply shadow-focus_offset_danger dark:shadow-focus_offset_dark_danger;
}

button.p-button.p-button-text.p-button-danger:active {
  background: color-mix(in srgb, var(--Color-danger--1), transparent 70%);
}

button.p-button.p-button-text.p-button-danger:hover {
  background: color-mix(in srgb, var(--Color-danger--1), transparent 95%);
}

button.p-button.p-button-text.p-button-danger:not(:disabled):active {
  background: color-mix(
    in srgb,
    var(--Color-danger--1),
    transparent 70%
  ) !important;
}

.p-column-filter-overlay-menu
  .p-column-filter-constraint
  .p-column-filter-remove-button {
  @apply mt-2;
}

.p-column-filter-buttonbar .p-button:not(.p-button-icon-only) {
  @apply w-auto;
}

.p-column-filter-overlay-menu .p-column-filter-buttonbar {
  @apply mt-2;
}

.p-multiselect-header {
  @apply flex items-center justify-between;
}

.p-multiselect-panel .p-multiselect-header {
  @apply m-0 rounded-tl rounded-tr border-b border-gray-200 px-3 py-2 text-gray;
}

.p-multiselect {
  @apply rounded border border-gray-300 bg-primary_ outline-transparent transition duration-300 hover:border-primary-500 dark:border-gray-600 dark:bg-secondary_dark dark:hover:border-primary-500;
}

.p-multiselect .p-multiselect-label {
  @apply px-2 py-2;
}

.p-multiselect .p-multiselect-trigger {
  @apply w-12 rounded text-gray;
}

.p-multiselect:is(.p-inputwrapper-focus, .p-focus) {
  @apply border border-primary-300 shadow-focus shadow-primary-100 dark:shadow-primary-800;
}

.p-dropdown-clear-icon {
  @apply absolute right-8 top-1/2 -mt-2 text-gray transition duration-300;
}

.p-dropdown-clear-icon:hover {
  @apply scale-110 text-primary;
}

.p-multiselect-panel {
  @apply rounded bg-primary_ text-gray shadow-input;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  @apply bg-transparent px-3 py-2 text-gray;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  @apply text-secundary;
  background: color-mix(in srgb, var(--Color-Primary-500), transparent 85%);
}

.p-checkbox {
  @apply relative mr-2 inline-flex h-5 min-h-5 w-5 min-w-5 select-none align-bottom;
}

.p-checkbox-input {
  @apply absolute left-0 top-0 z-[1] m-0 h-full w-full cursor-pointer appearance-none p-0 opacity-0 outline-none;
}

.p-checkbox .p-checkbox-box {
  @apply h-5 w-5 rounded border-2 border-solid border-gray-300 text-gray outline-transparent transition-all duration-300;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
  @apply text-sm text-white transition duration-300;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon.p-icon {
  @apply h-4 w-4  text-sm;
}

.p-highlight .p-checkbox-box {
  @apply border-primary-500 bg-primary-500;
}

.p-checkbox:hover .p-checkbox-box {
  @apply border-primary-500;
}

.p-highlight .p-checkbox:hover .p-checkbox-box {
  @apply border-primary-700 bg-primary-700;
}

.p-multiselect-filter-icon {
  @apply absolute right-3 top-1/2 -mt-2;
}

.p-multiselect-close {
  @apply ml-2 h-8 w-8 rounded-full text-gray transition duration-300 hover:bg-gray-50;
}
